<div *ngIf="chartData.length && loading != true">
  <h2 class="results-title">Scores</h2>

  <div class="chart-wrapper">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [chartType]="chartType"
            [options]="chartOptions"
            [legend]="chartLegend"
            [colors]="chartColors"></canvas>
  </div>

  <h2 class="results-title">Priorities</h2>
  <div>
    <app-priority-expansion [data]="priorities"></app-priority-expansion>
  </div>

  <div class="full-report-wrapper">
    <a class="button-full-report"
       *ngIf="externalUrl"
       color="primary"
       mat-raised-button
       [href]="externalUrl"
       target="_blank">
      View full report
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </div>
</div>



<div class="error" *ngIf="error">
  <h3>An error has occurred!</h3>
  <h5>You might be able to find more information in the developer console.</h5>
</div>

<!--<mat-progress-spinner mode="indeterminate" *ngIf="loading"></mat-progress-spinner>-->
