::ng-deep {
  .results-title {
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .chart-wrapper {
    max-width: 700px;
    margin: auto;

    canvas {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .priorities-table {
    width: 100%;

    tr {
      td {
        padding: 5px;

        &:last-child {
          text-align: right;
        }
      }
    }

    mat-icon {
      border-radius: 5px;
    }

    .check {
      color: green !important;
    }

    .warning {
      color: orange !important;
    }
  }

  .full-report-wrapper {
    margin-top: 10px;
    text-align: right;
    padding: 10px;
  }

  .error {
    h1, h2, h3, h4, h5 {
      text-align: center;
      margin: 5px;
    }
  }
  .notpage {
    span {
      display: inline-block;
      vertical-align: middle;
    }
    h1, h2, h3, h4, h5 {
      text-align: center;
      margin: 5px;
    }
  }

  mat-progress-spinner {
    width: 80px;
    margin: auto;
    margin-top: 40px;
  }
}
