.priority-expansion-align .mat-expansion-panel-header-title {
  flex-basis: 0;
  padding: 2px;
  justify-content: space-between;

  .check {
    color: green !important;
    margin: 15px;
  }

  .warning {
    color: orange !important;
    margin: 15px;
  }
}

.priority-expansion-align .priorities-expansion-table {
  width: 100%;
  text-align: left;
  font-size: small;

  .category {
    text-align: center;
    font-weight: bold;
    width: 20%
  }
  .count {
    text-align: center;
    width: 20px;
  }
  .info-icon {
    color: gainsboro !important;
  }  
  .info {
    text-align: center;
    width: 20px;
  }
  th, td {
    padding: 5px;
  }

  .mat-tooltip {
    font-size: 15px;
  }  

  tr:hover {background-color: whitesmoke;}

}
