
.loading {
  vertical-align: middle;

  .image-vertical {
    width: auto;
    height: 80vh;
  }
  .image-horizontal {
    display: none;
  }

  @media only screen and (min-width: 600px) {
    .image-vertical {
      display:none;
    }
    .image-horizontal {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

}



